

.wrapper {
    border: #000 1px solid;
    width: 600px;
    height: 400px;
    position: relative; /*상대적인 좌표값 사용*/
    left: 50px;
    top: 100px;
}

.inside {
    border: #ff0000 1px solid;
    width: 200px;
    height: 100px;
    position: absolute; /* 절대적인 좌표값 사용 부모요소 기준으로 절대적 좌표*/
    top: 20px;
    left: 50px;
}
/* position: fixed - 브라우저 크기에 맞게 좌표 고정(장바구니 같은)*/

a:hover { /*특정 조건에 맞을 때만 동작 hover:마우스 올릴때*/
    color: red;
    font-weight: bold;
}
a:active { /* active:클릭 했을때*/
    color: green;
    font-weight:bold;
}

.myForm input:focus { /*커서에 있는(입력을 받을 준비까지)*/
    background:pink;
    width: 300px;
}

.myList li:first-child {
    color: green;
    font-weight:bold;
}
.myList li:last-child {
    color:red;
    font-weight:bold;
}

.myList li:nth-child(3n+3) { /*3개씩 반복 + 3번째부터 */
    color: orange;
    font-weight: bold;
}
.myList li:nth-child(even) { /*짝수*/
    background: yellow;
    font-weight: bold;
}
.myList li:nth-child(odd) { /*홀수*/
    background: grey;
    font-weight: bold;
}

#rounded1 {
    background : lightblue;
    color: white;
    width: 200px;
    height: 140px;
    padding: 10px;
    border-radius: 50px;
}
#rounded2 {
    background : orange;
    color: white;
    width: 200px;
    height: 140px;
    padding: 10px;
    border-radius: 30px;
}
#rounded3 {
    background : pink;
    color: white;
    width: 200px;
    height: 140px;
    padding: 10px;
    border-radius: 70px;
}
img {
    width: 300px;
    height: 300px;
    border-radius: 50%
}

#border-img {
    border: 10px solid;
    /*border-width: 10px;
      border-style: solid;  위와 같은값*/
    border-image: url('border.png') 30 round;
}

#my-bg {
    background-image: url('border.png'), url('background.jpg');
    background-position: left top, right bottom;
    background-repeat: repeat, no-repeat;
    padding: 20px;
    background-size: 50px 50px, cover;
}

#grad1 {
    width: 200px;
    height: 50px;
    background: linear-gradient(to right, red, yellow);
}
#grad2 {
    width: 200px;
    height: 50px;
    background: linear-gradient(to bottom right, pink, purple);
}
#grad3 {
    width: 200px;
    height: 50px;
    background: radial-gradient(red, yellow, green);
}
#grad4 {
    width: 200px;
    height: 50px;
    background: radial-gradient(circle, lightblue, darkblue);
}

h1.text1 { /* x오프셋, y오프셋, 블러, 색깔 */
    text-shadow: 2px 2px 5px red;
}
h1.text2 {
    color: #ffffff;
    text-shadow: 2px 2px 5px black;
}
h1.text3 {
    text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff
}
/*
#box1 {
    width: 300px;
    height: 200px;
    background-color: red;
    box-shadow: 10px 10px 5px pink;
}
*/
.card {
    width:250px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2), /* rgba 에서 a는 투명도*/
                0 6px 20px 0 rgba(0,0,0, 0.19);
    text-align: center;
}
.card-header {
    background-color: #ff0000;
    color: #fff;
    padding: 10px;
    font-size: 40px;
}
.card-container {
    padding: 10px;
}

#box0 {
    width: 100px;
    height: 100px;
    background: black;
    transition: width 2s, height 4s;
    transition-timing-function: ease-in-out;
    /*
    linear : 똑같은 속도로 바뀜
    ease-in: 속도가 점점 빨라짐
    ease-in-out: 빨라졋다가 느려짐 //(가속도그래프 생각)
    */
}
#box1:hover {
    width: 300px;
    height: 300px;
}

#box2 {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: red;
    animation-name: colorchange;
    animation-duration: 5s;
}
@keyframes colorchange { /* 함수 만들수 있음*/
    0% {
        background-color: red;
        left: 0;
        top: 0;
    }
    25% {
        background-color: yellow;
        left: 200px;
        top: 0;
    }
    50% {
        background-color: green;
        left: 200px;
        top: 200px;
    }
    75% {
        background-color: blue;
        left: 0;
        top: 200px;
    }
    100% {
        background-color: red;
        left: 0;
        top: 0;
    }
}

article {
    column-count: 3;
    column-gap: 40px;
    column-rule: 1px solid coral;
}
article h1{
    column-span: all; /* 셀 병합*/
}

.textbox1 {
    border: 2px solid;
    padding: 20px;
    width: 300px;
    overflow: auto; /* 박스 작아지면 자동으로 스크롤 만들어줌*/
    resize: both; /*우측 아래 늘리는거 생김*/
}
.textbox2 {
    margin: 20px;
    padding: 10px;
    width: 300px;
    height: 100px;
    border: 1px solid black;
    outline: 1px solid red;
    outline-offset: 10px;
}


.flex-container {
    display: flex;
    justify-content: space-around;
    width: 400px;
    height: 250px;
    background-color: black;
}
.flex-item {
    background-color: lightblue;
    width: 100px;
    height: 100px;
    margin: 10px;
}
.first {
    order: -1;
}
















